.footer {
  /* border: 1px solid red; */
  width: 100vw;
  padding: 60px 0 21px;
  background-color: #375d75;
  font-family: Avenirnextltpro, sans-serif;
  color: #a6d1ed;
}

.footerDiv {
  width: 100%;
  padding: 0 10px;
  /* border: 1px solid white; */
}
.footerTop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.copyRightLogo {
  width: 200px;
  height: inherit;
  border-radius: 10px;
  /* border: 1px solid red; */
  color: #dbf1ff;
  font-size: 12px;
  font-weight: 300;
}
.copyRightLogo > img {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 20px;
}

.footerList {
  width: 220px;
  height: inherit;
  padding: 0 20px;
  /* border: 1px solid red; */
  color: #dbf1ff;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.footerList > span {
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
}
.footerListheading {
  margin-bottom: 30px;
  text-align: left;
  font-size: 24px !important;
  font-weight: bold !important;
  color: #a6d1ed;
  cursor: auto !important ;
}

.footerBottom {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: 400;
}
.footerBottom > span {
  margin-left: 5px;
  font-size: 24px !important;
  font-weight: bold !important;
  cursor: pointer;
}
