.link {
  text-decoration: none;
  color: inherit;
}
.navbar {
  /* background-color: red; */
  /* border: 1px solid red; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  background-color: rgb(253, 253, 253);
  z-index: 1000;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.leftDiv {
  width: 180px;
  height: inherit;
  /* border: 1px solid red; */
}
.leftDiv > img {
  width: 100%;
  height: inherit;
}

.rightDiv {
  margin-left: 15rem;
  width: 80%;
}
.rightDiv > span {
  color: #3b8fc2;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  margin: 0 20px;
  cursor: pointer;
}
.navbarBtn {
  width: 250px;
  height: inherit;
  padding: 12px 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  background-color: #3b8fc2;
}
