.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage {
  width: 500px;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 1px solid red; */
  padding: 30px;
}
.loginLogo {
  width: 60%;
  /* height: 80px; */
  margin: auto;
}

.signInTitle {
  margin-top: 10px;
  /* border: 1px solid red; */
  font-size: 30px;
  font-weight: 500;
  /* padding: 20px; */
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0;
  /* border: 1px solid red; */
}
.emailInput,
.passwordInput {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid gray;
  margin-bottom: 30px;
  border-radius: 5px;
}

.emailInput:focus,
.passwordInput:focus {
  outline-color: rgba(202, 48, 48, 0.539);
}
.email,
.password {
  color: gray;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.signInDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.signInBtn {
  background-color: rgb(6, 142, 247);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.signInBtn + div {
  color: rgb(6, 142, 247);
  font-size: 18px;
  text-decoration: dashed;
  cursor: pointer;
}

.signUpLink {
  color: rgb(6, 142, 247);
  font-size: 18px;

  cursor: pointer;
}
